.__donerDetails{
    
    font-size: 1.2rem;
    background-color: white;
    width: 55rem;
    margin: 2rem auto;
    height: 5rem;
   padding-top: 1.5rem;
   border-radius: 12px;
   max-width: 95%;
}
.__amount{
    display: inline-block;
    margin-left: 4%;
    max-width: 100%;
 

}
.__doner{
    display: inline-block;
    margin-left: 15%;
    max-width: 100%;
  
}
.__contact{
    display: inline;
    float: right;
    margin-right: 5%;
    max-width: 100%;
   
}
@media only screen and (max-width: 375px) {
    .__donerDetails {
      font-size: 1rem;
      
    }
    .__doner{
        margin-left: 2.5rem;
    }
  }